@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* General CSS */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #0d0c0c;
}

/* Navbar */

nav {
  background-color: #ffffff;
  height: 75px;
  width: 100%;
  z-index: 999;
  position: sticky;
}

.navbarLogo {
  width: 42px;
  height: 52px;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navLinks a {
  color: #0d0c0c;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* First section */

.backgroundImage {
  background-image: url(./assets/images/image\ 20.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 606px;
  position: relative;
}

.firstHeader {
  width: 570px;
  height: 253px;
  top: 213px;
  left: 152px;
  background-color: #ffffff;
  padding: 2rem;
  position: absolute;
  box-shadow: 0px 0px 7px -4px #3d3d3d;
}

.sectionUptitle {
  font-weight: 800;
  color: #3d3d3d;
  font-size: 16px;
}

.sectionTitle {
  color: #f25757;
  font-weight: 800;
  font-size: 36px;
}

.sectionSubtitle {
  font-weight: 400;
  font-size: 20px;
}

/* Second section */

.secondSection {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
}

.row.justify-content-center {
  gap: 2rem;
}

.dropCard {
  background-color: #ffffff;
  width: 250px;
  height: 266px;
  padding: 1.5rem;
  box-shadow: 0px 0px 7px -4px #3d3d3d;
  margin-bottom: 2rem;
}

.cardPic {
  width: 96px;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 22px;
  font-weight: 800;
}

.titleOne {
  color: #8c3b3b;
}

.titleTwo {
  color: #f25757;
}

.titleThree {
  color: #f2594b;
}

.cardDescription {
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
}

/* Third section */

.thirdSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.textContainer {
  padding: 5rem 14rem;
  background: linear-gradient(#ffffff, #f2f2f2);
}

.textTitle {
  font-size: 36px;
  font-weight: 800;
  color: #f2594b;
  text-align: left;
  flex-basis: 30%;
}

.textDescription {
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
  text-align: left;
  line-height: 1.8;
  flex-basis: 70%;
}

/* Fourth section */

.finalSection {
  padding-block: 5rem;
  padding-left: 14rem;
  background-color: #ffffff;
}

.finalSection .textTitle {
  font-size: 38px;
  font-weight: 800;
  color: #f25757;
}

.finalSection .textDescription {
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
}

/* Footer */

footer {
  background-color: #8c3b3b;
  border-top: #f25757 3px solid;
  height: 265px;
  color: #ffffff;
}

.footerData {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 15rem;
  font-weight: 300;
}

.footerLogo {
  width: 70px;
  height: 88px;
  display: flex;
  align-items: center;
}

.footerSubGroup {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.footerData1 {
  flex: 0 0 auto;
}

.footerData2,
.footerData3 {
  flex: 1;
  padding: 2rem 1rem;
}

.footerData2 p,
.footerData3 p {
  white-space: nowrap;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.footerLinks {
  background-color: #0d0c0c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 10rem;
  font-weight: 300;
}

.footerLinks p {
  margin-left: 5rem;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksContainer a {
  text-decoration: none;
  color: #ffffff;
  text-align: right;
  padding-inline: 3rem;
  font-weight: 300;
  margin-left: 5rem;
}

/* Mobile */

@media (min-width: 320px) and (max-width: 767px) {
  /* Navbar */

  .navbarContainer {
    padding-inline: 15px;
  }

  .collapse {
    background-color: #ffffff;
    border-top: 2px #8c3b3b solid;
    padding-block: 1.5rem;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 998;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.5);
  }

  /* First section */

  .firstHeader {
    width: 360px;
    height: 409px;
    top: 80px;
    left: calc(50% - 210px);
    padding: 2rem;
    margin: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px -4px #3d3d3d;
  }

  /* Second section */

  .secondSectionTitle {
    padding-inline: 1rem;
  }

  .dropCard {
    margin-bottom: 2rem;
  }

  /* Third section */

  .thirdSectionContainer,
  .finalSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .textContainer {
    padding: 1rem;
    background-color: #f2f2f2;
    text-align: center;
  }

  .textTitle {
    font-size: 36px;
    font-weight: 800;
    color: #f2594b;
    text-align: center;
    margin-top: 2rem;
  }

  .textDescription {
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
    text-align: left;
    line-height: 1.8;
    margin-bottom: 3rem;
  }

  /* Fourth section */

  .finalSection {
    padding: 1rem;
    background-color: #ffffff;
  }

  .sectionUptitle {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .finalSection .textTitle {
    font-size: 38px;
    font-weight: 800;
    color: #f25757;
  }

  .finalSection .textDescription {
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
  }

  .finalSection .col-8 {
    text-align: center;
  }

  /* Footer */

  footer {
    height: 400px;
    border-top: #f25757 5px solid;
  }

  .footerData {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-size: 12px;
  }

  .footerData1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: -2rem;
    width: 100%;
  }

  .footerSubGroup {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 1rem;
    padding-bottom: 1.5rem;
  }

  .footerData2 p {
    margin-bottom: 0;
  }

  .footerData2,
  .footerData3 {
    padding: 0;
  }

  .footerData2 p:first-of-type,
  .footerData3 p:first-of-type {
    margin-bottom: 0.8rem;
  }

  .social {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .footerLinks {
    font-size: 12px;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    padding-inline: 1rem;
    padding-block: 2.5rem;
  }

  .footerLinks .mb-0 {
    margin-left: 0;
  }

  .linksContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .linksContainer a {
    padding-inline: 0.5rem;
    text-align: left;
  }
}
